.listBookPage{
  padding: 0 20px;
  padding-top: 80px;
  background-color: #191b24;
}

.header{
  color: #e5e7eb;
  font-size: 22px;
  margin: 15px 0 50px 0;
}

.bookGrid{
  margin-bottom: 40px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.notFoundBook{
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 30px;
}


