.navBar{
  box-sizing: border-box;
  display: flex;
  color: white;
  background-color: #ccc;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease-in;
}

.navBar.navBarScorred{
  background-color: #0f111a;
  height: 70px;
}

/* title */
.navBarTitle p{
  color: #2563eb;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* search bar */
.navBarSearch{
  position: relative;
  height: fit-content;
  width: 30%;
}

.searchIcon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.searchInput{
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 13px;
  padding: 10px 10px 10px 40px;
  outline: none;
  background-color: #22242c;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 0.2 ease-in;
}
.searchInput:focus{
  border-color: white;
}

.searchInput::placeholder{
  color: white;
}

/* menu */

.mainMenu{
  list-style: none;
  display: flex;
  gap: 20px;
  width: 35%;
  justify-content: center;
}

.mainMenu .menuItem:hover{
  color: rgb(255, 216, 117);
}

.menuItem{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.menuItem.menuSub{
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

/* submenu item */
.subMenu{
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  list-style: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: rgba(15, 17, 26, 0.95);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 100;
  width: fit-content;
  border-radius: 10px;
}

.subMenu .subMenuItem{
  color: white;
  cursor: pointer;
  width: 85px;
  padding: 5px 10px;
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem.menuSub:hover .subMenu {
  display: grid;
}


.subMenuItem:hover {
  color: rgb(255, 216, 117);
}

/* notification */

.mainNotification{
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.mainNotification:hover{
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
}

/* user authentication */


/* not login */
.loginBtn{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: white;
  color: black;
  height: 20px;
  cursor: pointer;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
  font-size: 16px;
}

.loginBtn:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

/* already login */

.userInfor{
  display: flex;
  align-items: center;
  gap: 20px;
}
.user{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.userAvatar{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid white;
}

.userAvatar:hover{
  opacity: 0.9;
}
.userAvatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cart{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  position: relative;
}

.cartCount{
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cart:hover{
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
}
